.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.title {
    width: 100%;
    text-align: center;
    color:#375e97;
}

.registration-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .registration-form h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 10px;
  }

  .form-group-checkbox {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0;
  }
  
  .form-name {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-group input[type="checkbox"] {
    width: auto;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #375e97;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1d3557;
  }